/* 
  Apply styles to all <div> elements with class "claim style-scope patent-text"
  and a `num` attribute that ends in "1" — this includes values like "1", "01",
  "001", "0001", etc. The `$=` operator is a CSS attribute selector that matches
  the *end* of a string.
*/
div[num$="1"].claim.style-scope.patent-text {
	position: fixed!important;
	top: 0;
	bottom: 0;
	right: 0;
	width: 300px;
	font-weight: 900!important;
	border: 3px solid #73AD21;
	overflow-y:scroll;
	overflow-x:hidden;   
}
